{% extends 'layout.html' %}
{% load static from staticfiles %}

{% block content %}
<div class="grid-100 mineral__container">
  <h1 class="mineral__name">{{ mineral.name|title }} </h1>

  <div class="mineral__image-bg">
    <img class="mineral__image" src="{% static mineral.image_filename %}">
      <p class="mineral__caption">{{ mineral.image_caption|title }}</p>
  </div>

  <div class="mineral__table-container">
    <table class="mineral__table">
      <tr>
        <td class="mineral__category">Category</td>
        <td>{{ mineral.category|title }}</td>
      </tr>

      <tr>
        <td class="mineral__category">Group</td>
        <td class="mineral__formula">{{ mineral.group|title }}
      </tr>

      <tr>
        <td class="mineral__category">Formula</td>
        <td class="mineral__formula">{{ mineral.formula|title }}
      </tr>

    </table>
  </div>
</div>
{% endblock %}
